 body {
     background: #ccc;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     max-width: 535px;
     margin: auto;
 }
 .photo {
     border: 1px solid rgb(228, 158, 188);
     border-radius: 300px;
 }
 
 #title, .subtitle, .post_title {
     color:burlywood;
 }

 #title {
     font-size: 40px;
     text-transform: uppercase;
 }

 a {
     text-decoration: line-through;
     color: antiquewhite;
 }


 .post_title {
     font-size: 16px;
     font-style: italic;
     margin: 0%;
     margin-bottom: 15px;
 }

 .post {
     background: rgb(221, 185, 207);
     padding: 15px;
     border: 3px solid rgb(97, 93, 93);
     margin-bottom: 15px;
     border-radius: 30px;
 }

 .post_content {
     margin: 0;
     margin-bottom: 15px;
     text-transform: capitalize;
     text-align: center;
 }

 .post_image {
     margin-bottom: 15px;
     width: 500px;
 }

 .contacts_list {
     list-style-type: none;
     padding-left: 15px;
 }
 
 .contacts_list li a {
     text-decoration: none;
 }